[submodule "2-project-website"]
	path = 2-project-website
	url = https://github.com/cpucortexm/2-project-website.git
[submodule "4-project-landing-components"]
	path = 4-project-landing-components
	url = https://github.com/cpucortexm/4-project-landing-components.git
[submodule "mini-twitter"]
	path = mini-twitter
	url = https://github.com/cpucortexm/mini-twitter.git
[submodule "online-job-board"]
	path = online-job-board
	url = https://github.com/cpucortexm/online-job-board.git
